{{ define "main" }}
	<main class="main list" role="main">
		{{- if not .IsHome }}
			{{- with .Title }}
				<header class="main__header">
		  		<h1 class="main__title">{{ . }}</h1>
  			</header>
 			{{- end }}
  		{{- with .Content }}
				<div class="content main__content clearfix">
  				{{ . }}
  		  </div>
			{{- end }}
	  {{- end }}
  	{{- $pages := cond .IsHome (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) .Pages }}
  	{{- range $paginator.Pages }}
    <article class="list__item">
        {{ partial "post_thumbnail.html" (dict "class" "list" "page" .) }}
        <header class="list__header">
            <h2 class="list__title post__title">
                <a href="{{ .RelPermalink }}" rel="bookmark">{{ .Title }}</a>
            </h2>
            <div class="list__meta meta">
                {{ partial "post_meta.html" . }}
                <span class="post-views">
                    阅读量: <span id="vercount_value_page_pv" data-vercount-url="{{ .RelPermalink }}">loading</span>
                </span>
            </div>
        </header>
        <div class="content list__content clearfix">
            {{ .Summary }}
        </div>
    </article>
    {{- end }}
  </main>
  {{ partial "pagination.html" . }}
{{ end }}